@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient-text {
  background: linear-gradient(to right, #bb25d8, #3444d8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text2 {
  background: linear-gradient(101deg, #f09dff 17.78%, #f8d4ff 96.9%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text3 {
  background: linear-gradient(101deg, #d83af8 17.78%, #7828f9 108.31%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  position: relative;
  background-color: #2b2e3d;
  border: none;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient::after {
  content: "";
  position: absolute;
  height: 104%;
  width: 102%;
  border-radius: 1000px;
  background-image: linear-gradient(to right, #a82ad8, #4940d8);
  z-index: -1;
}

.gradient:hover {
  z-index: 0;
}

/* off default swiper button */
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}